<div class="col-md-6">
  <%= link_to event_path(event) do %>
    <div class="card">
      <img class="card-img-top" src="<%= event.hero_image_url %>">
      <div class="card-block">
        <div class="card-text-div">
          <h4 class="card-title"><%= event.name %></h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
          </p>
        </div>
        <div class="card-calendar-div">
          <div class="event-date">
              <div class="relative">
                  <div class="date-month">
                      <%= event.starts_at.strftime("%B")%>
                  </div>
                  <div class="date-detail">
                      <div class="date-num color-6">
                          <%= event.starts_at.strftime("%d")%>
                      </div>
                      <div class="date-day">
                          <%= event.starts_at.strftime("%A")%>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>  
