<div class="row">
  <div class="col-md-6">
    <table class="table" style="margin-top: 23px">
      <thead class="thead-inverse">
      <tr>
        <th>#</th>
        <th>Admin</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        <% @admin_list.each_with_index do |admin, i| %>
        <tr>
          <td><%= i %></td>
          <td><%= admin.full_name %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-3">
    <table class="table" style="margin-top: 23px">
      <tr>
        <div class: "form form-group">
          <%= form_tag add_admin_events_path, method: :post do %>
          <%= hidden_field_tag 'id', @event.id %>
          <%= select_tag "candidate", options_from_collection_for_select(@candidates, "id", "full_name"), prompt: "Select candidate to admin", class: "form-control" %>
          <%= button_tag "Promose to Admin", class: "btn btn-secondary" %>
          <% end %>
        </div>
      </tr>
    </table>
  </div>
</div>