<!DOCTYPE html>
<html>
<head>
  <title>CsTemplate</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <%= link_to image_tag("/images/ticket.png", size: "50"), root_path %>
    &emsp;
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <% if !logged_in? %>
            <li class="nav-item">
              <a class="nav-link" href="<%= login_path %>">Log In</a>
            </li>
            <li>
                <a class="nav-link">|</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= new_user_path %>">Sign Up</a>
            </li>
        <% else %>
            <li class="nav-item">
              <%= link_to "Log Out",logout_path ,class:"nav-link" ,method: :delete %>
            </li>

            <li>
                <a class="nav-link">|</a>
            </li>

            <li class="nav-item">
              <%= link_to "Your Event",mines_events_path,class:"nav-link" ,method: :get %>
            </li>
            <li>
                <a class="nav-link">|</a>
            </li>
            <li class="nav-item" style="float: right">
              <a class="nav-link" href="<%= new_event_path %>">Create Event</a>
            </li>
            <li>
                <a class="nav-link">|</a>
            </li>
            <li class="nav-item" style="float: right">
              <a class="nav-link" href="<%= new_venue_path %>">Create Venue</a>
            </li>
        <% end %>
      </ul>
    </div>
  </nav>

<% flash.each do |type, message| %>
  <div class="alert <%= bootstrap_class_for(type) %> show">
    <button class="close" data-dismiss="alert">×</button>
    <%= message %>
  </div>
<% end %>

<%= yield %>

</body>
</html>
